*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(92, 182, 182, 0.562);
}
h3{
    font-size: 2rem;
    color: #fff;
    font-style: italic;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
}
form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    background: rgba(128, 128, 128, 0.425);
}
form textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    background:  rgba(128, 128, 128, 0.425);
}
form button{
    width: 50%;
    padding: 10px;
    background: salmon;
    border-radius: 12px;
    color: white;
    font-size: 1.4rem;
}